@using WebUI.Areas.Manager.Models
@model List<MatchesViewModel>
@{
    ViewData["Title"] = "Matches";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}


<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar pt-5">
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                <a href="../dist/index.html" class="text-gray-500">
                                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Menajer</li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Maç</li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Maçlar</li>

                        </ul>
                        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Oynanan Maçlar</h1>
                    </div>

                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">


                <!--begin::Toolbar-->
                <div class="d-flex flex-wrap flex-stack my-5">
                    <!--begin::Heading-->
                    <h2 class="fs-2 fw-semibold my-2">
                        Maçlar
                    </h2>
                    <!--end::Heading-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Row-->
                <div class="row g-6 g-xl-9">
                    @foreach (var item in Model)
                    {


                        <!--begin::Col-->
                        <div class="col-md-6 col-xl-4" >

                            <!--begin::Card-->
                            <a href="/Manager/FootballMatches/PlayedMatch/@item.FootballMatch.Id" class="match-card card border-hover-primary cursor-pointer" data-id="@item.FootballMatch.Id">
                                <!--begin::Card header-->
                                <div class="card-header border-0 pt-9">
                                    <!--begin::Card Title-->
                                    <div class="card-title m-0">
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-50px w-50px bg-light">
                                            @{
                                                var avatar = item.FootballMatch.HomeClub.Avatar;
                                            }
                                            <img src=@avatar alt="image" class="p-3" />
                                        </div>
                                        <!--end::Avatar-->
                                    </div>
                                    <!--end::Car Title-->
                                    <!--begin::Card toolbar-->
                                    <div class="card-toolbar">
                                        <div class="symbol symbol-50px w-50px bg-light">
                                            @{
                                                avatar = item.FootballMatch.AwayClub.Avatar;
                                            }
                                            <img src=@avatar alt="image" class="p-3" />
                                        </div>
                                    </div>
                                    <!--end::Card toolbar-->
                                </div>
                                <!--end:: Card header-->
                                <!--begin:: Card body-->
                                <div class="card-body p-9">
                                    <!--begin::Name-->
                                    <div class="fs-3 fw-bold text-dark">@item.FootballMatch.HomeClub.Name - @item.FootballMatch.AwayClub.Name</div>
                                    <!--end::Name-->
                                    <!--begin::Info-->
                                    <div class="d-flex flex-wrap mb-5 mt-5">
                                        <!--begin::Due-->
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4" style="margin-right: 5px;">
                                            <div class="fs-6 text-gray-800 fw-bold"> @Convert.ToDateTime(item.FootballMatch.CreatedTime).ToString("dd/MM/yyyy")</div>
                                            <div class="fw-semibold text-gray-400">Davet Tarihi</div>
                                        </div>
                                        <!--end::Due-->
                                        <!--begin::Due-->
                                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 ">
                                            <div class="fs-6 text-gray-800 fw-bold">@item.FootballMatch.HomeClubGoal - @item.FootballMatch.AwayClubGoal</div>
                                            <div class="fw-semibold text-gray-400">Skor</div>
                                        </div>
                                        <!--end::Due-->
                                    </div>
                                    <!--end::Info-->
                                    <!--begin::Users-->
                                    <div class="symbol-group symbol-hover">
                                        <!--begin::User-->
                                        <div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="@item.HomeTeamManagerName">
                                            <img alt="Pic" src="@item.HomeTeamManagerAvatar" />
                                        </div>
                                        <!--begin::User-->
                                        <!--begin::User-->
                                        <div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="@item.AwayTeamManagerName">
                                            <img alt="Pic" src="@item.AwayTeamManagerAvatar" />
                                        </div>
                                        <!--begin::User-->
                                    </div>
                                    <!--end::Users-->
                                </div>
                                <!--end:: Card body-->
                            </a>
                            <!--end::Card-->
                        </div>
                        <!--end::Col-->
                    }

                </div>
                <!--end::Row-->
            </div>
        </div>

    </div>

</div>
